@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#header-social {
    font-family: 'Lora', serif;
}

h {
    font-family: 'Lora', serif;
}

p {
    font-family: 'open sans', sans-serif;
}

text {
    font-family: 'open sans', sans-serif;
}

a {
    font-family: 'Lora', serif;
}

img {
    padding-top: 20px;
}

#headerpiclink:hover {
    background-color: inherit;
}

#euhs-pic {
    padding-top: 2px;
}

#euhs-link:hover {
    background-color: yellow;
}

.header {
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-size: larger;
    background-color: yellow;
    color: black;
    height: 100px;
    line-height: 100px;
    width: 100%;
    border: solid mediumblue 2px;
}

#headerpic {
    padding-top: 0px;
    padding-left: 194px;
    padding-bottom: 5px;
    vertical-align: bottom;
    height: 96px;
  }

.navbar {
    border: solid mediumblue 2px;
    background-color: yellow;
    clear: both;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    text-align: center;
    padding: 25px;
    top: 0%;
    position: sticky;
    width: 100%;
    text-align: center;
}

.column {
    width: 33.18%;
    float: left;
    background-color: yellow;
    border: solid mediumblue 1px;
    height: 240px;
    text-align: center;
    vertical-align: middle;
}

.two-columns {
    width: 49.8%;
    float: left;
    background-color: yellow;
    border: solid mediumblue 1px;
    height: 180px;
    text-align: center;
    align-content: center;
}

#two-columns-text {
    padding-top: 50px;
    height: 130px;
}

.row::after {
    content: " ";
    display: table;
    clear: both;
}

#home {
    padding-right: 50px;
    padding-left: 50px;
}

#about {
    padding-right: 50px;
    padding-left: 50px;
}

#contact {
    padding-right: 50px;
    padding-left: 50px;
}

a {
    color: mediumblue
}

a:visited {
    color: black;
    text-underline-position: below 0px;
}

a:hover {
    background-color: white;
}


.footer {
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-size: larger;
    background-color: yellow;
    height: 130px;
    text-align: center;
    border: solid mediumblue 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section {
    height: 100px;
    padding-bottom: 20px;
    border-top: solid mediumblue 1px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    background-color: mediumblue;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
  }

  .fa-instagram {
    background : #D046AE;
  }

.footercolumn {
    width: 33.18%;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-size: medium;
}

#footer-menu {
    padding-right: 2px;
}

#footer-social {
    border-right: 0px;
}

h {
    text-decoration: underline;
}

#footer-credit {
    border-right: solid mediumblue 2px;
}

#footer-menu {
    border-right: solid mediumblue 2px;
}

.footercolumn {
    border-right: solid mediumblue 2px;
}
